.Rproj.user
.Rhistory
.RData
.Ruserdata
.lintr
src/*.o
src/*.so
src/*.dll
inst/doc
.DS_Store
liger.Rproj
*.RDS
*.rds
.vscode/*
src/_deps/**
src/CMakeFiles/**
src/CPM_modules/**
src/cmake_install.cmake
src/CMakeCache.txt
src/Makefile
build/*
